{% exclude 'base.html' %}

{% block content %}

<div>
    <h1>New Question</h1>
</div>
<div class="text-danger">This title already exists.</div>
<div class="d-flex">
    <div class="col-1 my-auto">Title</div>
    <div class="col-11"><input class="form-control ms-2" type="search" placeholder="How to..."
                               aria-label="Search"></div>
</div>
<div class="mt-1 d-flex">
    <div class="col-1 mt-3">Text</div>
    <div class="form-group col-11 ms-2">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type text.."
                  rows="9"></textarea>
    </div>
</div>
<div class="text-danger mt-2">Entered tags does not exist</div>
<div class="d-flex">
    <div class="col-1 my-auto">Tags</div>
    <div class="col-11"><input class="form-control ms-2" type="search" placeholder="Type tags..."
                               aria-label="Search"></div>
</div>
<div>
    <button class="btn btn-success mt-4" type="submit" style="margin-left: 80px;">Ask</button>
</div>

{% endblock %}