{% extends 'base.html' %}

{% block content %}

<div>
    <h1>Log In</h1>
</div>

<div class="text-danger">Sorry, wrong password!</div>

<div class="d-flex mt-2">
    <div class="col-1 my-auto">Login</div>
    <div class="col-4 ms-2"><input class="form-control ms-2" type="search"
                                   placeholder="Enter your login"
                                   aria-label="Search"></div></div>

<div class="d-flex mt-4">
    <div class="col-1 my-auto">Password</div>
    <div class="col-4 ms-2"><input class="form-control ms-2" type="search"
                                   placeholder="Enter your password"
                                   aria-label="Search" value=""></div>
</div>

<div>
    <button class="btn btn-success mt-4" type="submit" style="margin-left: 85px;">Log in</button>
</div>

<div class="mt-2" style="margin-left: 85px;">
    <a href="">create new account</a>
</div>

{% endblock %}