{% extends 'base.html' %}

{% block content %}

{% include 'components/question-item.html' %}
<div class="bg-dark">
    <hr>
</div>
{% for answer in answers %}

{% include 'components/answer-item.html' %}

{% endfor %}
<div class="bg-dark">
    <hr>
</div>
<div class="form-group">
    <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your answer here.."
              rows="7"></textarea>
</div>
<div>
    <button class="btn btn-success mt-2" type="submit">Ask</button>
</div>

{% endblock %}