{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Settings: User</h1>
</div>

<div class="d-flex mt-4">
    <div class="col-2 my-auto">Login</div>
    <div class="col-5 ms-2"><input class="form-control ms-2" type="search"
                                   placeholder="Enter new login..."
                                   aria-label="Search" value="user"></div>
</div>
<div class="d-flex mt-4">
    <div class="col-2 my-auto">Email</div>
    <div class="col-5 ms-2"><input class="form-control ms-2" type="search"
                                   placeholder="Enter new email..."
                                   aria-label="Search" value="user@gmail.com"></div>
</div>
<div class="d-flex mt-4">
    <div class="col-2 my-auto">NickName</div>
    <div class="col-5 ms-2"><input class="form-control ms-2" type="search"
                                   placeholder="Enter new nickname..."
                                   aria-label="Search" value="User79"></div>
</div>
<div class="d-flex mt-4">
    <div class="col-2">Upload avatar</div>
    <div class="ms-3"><img class="question-image" src="../static/img/css_ava.jpg"></div>
</div>
<div class="mb-3 col-5" style="margin-left: 155px;">
    <label for="formFile" class="form-label">Choose photo</label>
    <input class="form-control" type="file" id="formFile">
</div>
<div>
    <button class="btn btn-success mt-2" type="submit" style="margin-left: 155px;">Save</button>
</div>

{% endblock %}